html
{ 
	height: 100%;    
}
body
{ 
	height: 100%;
	background-color: #333333; 
	color: white;
}

#ipaddress 
{
	float: left;
	color: white; 
}

#map_canvas 
{ 
	float:left; 
	margin-left: 5%; 
	margin-top: 5%;
	height: 80%; 
	width: 80%; 
	border: solid red;  
}

